In [11]:
# Librerias necesarias
import pandas as pd

In [10]:
# Leer el data set
import pandas as pd
df0 = pd.read_csv('customer_shopping_data.csv')
df0.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [24]:
# Determinar la cantidad de registros de la tabla (el resultado es una tupla)
df0.shape

(99457, 10)

In [21]:
# Informacion general para el df0
print(df0.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB
None

In [35]:
# determinar los valores unicos del atributo
print("Valores Unicos en gender:", df0['gender'].unique())

# determinar los valores diferentes del atributo
print("Numero de Valores Unicos:", df0['gender'].nunique())

Valores Unicos en gender: ['Female' 'Male']
Numero de Valores Unicos: 2

In [38]:
# determinar los valores unicos del método de pago
print("Valores Unicos del metodo de pago:", df0['payment_method'].unique())

Valores Unicos del metodo de pago: ['Credit Card' 'Debit Card' 'Cash']

In [40]:
# Copiamos y creamos un df con la data inicial para no altererla
df1 = df0.copy()

In [46]:
# Convertir un atributo "object" a "date" ya que el dato de fecha del df no es el correcto
df1["invoice_date"] = pd.to_datetime(df1["invoice_date"], dayfirst=True)

In [50]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  datetime64[ns]
 9   shopping_mall   99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 7.6+ MB
None

In [55]:
# Agregar columnas para años, meses y dias
df1["year"] = df1["invoice_date"].dt.year
df1["month"] = df1["invoice_date"].dt.month
df1["day"] = df1["invoice_date"].dt.day
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  datetime64[ns]
 9   shopping_mall   99457 non-null  object
 10  year            99457 non-null  int32
 11  month           99457 non-null  int32
 12  day             99457 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(3), int64(2), object(6)
memory usage: 8.7+ MB
None